<!DOCTYPE html>
<html>

<head>
  <title>show interface status</title>
  <meta charset="utf-8">
  <style>

    html {
      font-size: 62.5%;
    }

    body {
      margin: 40px;
      font-size: 1.4em;
    }

    .wrapper {
      display: grid;
      padding: 10px;
      column-gap: 10px;
      row-gap: 10px;
      grid-template-columns: repeat(24, 45px);
      width: 1320px;  /* 24*(45px+10px)=1320px */
      background-color:silver;
    }

    .box {
      background-color:grey;
      color: #fff;
      border-radius: 4px;
      padding: 4px;
      margin: 0px;
      font-size: 1.0rem;
    }

    .down {
      background-color: black;
    }

    .up {
      background-color:green;
    }

    pre {
      margin: 1em 0;
      padding: 1em;
      font-size: 120%;
      max-width: 1320px;  /* same as .wrapper */
      color: #2F4F4F;
      background-color: #F5F5F5;
      overflow: auto;
    }

  </style>

</head>

<body>

    {%- for node_name, node_data in parsed.items() -%}
        <h1>{{ node_name }}</h1>

        <div class="wrapper">
            {%- set interfaces = node_data['interfaces'] | d([]) -%}
            {%- for intf_name, intf_data in interfaces.items() -%}
                {%- set intf_name = intf_name | replace('GigabitEthernet', 'G') | replace('Ethernet', 'E') -%}
                {%- set status = intf_data['status'] | d('') -%}
                <div class="box {% if status == 'connected' %}up{% elif status == 'notconnect' %}down{% endif %} ">{{ intf_name }}</div>
            {% endfor %}
        </div>

    {%- endfor -%}

  <BR>

  <h1>parsed output</h1>

  <pre>
    <code>

{{ parsed_output }}

    </code>
  </pre>

<!--
parsed_output looks this
{'sw1': {'interfaces': {'Ethernet0/0': {'duplex_code': 'auto',
                                        'port_speed': 'auto',
                                        'status': 'connected',
                                        'type': 'unknown',
                                        'vlan': 'trunk'},
                        'Ethernet0/1': {'duplex_code': 'auto',
                                        'port_speed': 'auto',
                                        'status': 'connected',
                                        'type': 'unknown',
                                        'vlan': 'trunk'},
                        'Ethernet0/2': {'duplex_code': 'auto',
                                        'port_speed': 'auto',
                                        'status': 'connected',
                                        'type': 'unknown',
                                        'vlan': 'trunk'},
                        'Ethernet0/3': {'duplex_code': 'auto',
                                        'port_speed': 'auto',
                                        'status': 'notconnect',
                                        'type': 'unknown',
                                        'vlan': '1'}}},
 'sw2': {'interfaces': {'Ethernet0/0': {'duplex_code': 'auto',
-->


</body>

</html>